@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueMontrealLight';
  src: url('../public/font/NeueMontreal-Light.otf') format('otf');
  font-weight: lighter;
}

@font-face {
  font-family: 'NeueMontrealRegular';
  src: url('../public/font/NeueMontreal-Regular.otf') format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'NeueMontrealMedium';
  src: url('../public/font/NeueMontreal-Medium.otf') format('otf');
  font-weight: 500;
}

@font-face {
  font-family: 'NeueMontrealBold';
  src: url('../public/font/NeueMontreal-Bold.otf') format('otf');
  font-weight: bold;
}