#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 11px;
    height: 11px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
}
