.model_style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.model {
    position: absolute;
    width: 100%;
    height: 100vh;
}
