.headers {
  padding: 25px 50px;
  position: fixed;
  right: 0;
  z-index: 10;
}

.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.button:hover {
  background-color: #455ce9;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 100%; /* Start off-screen at the bottom */
  left: 0;
  right: 0;
  height: 100%;
  background-color: #000000; /* Fill color */
  transition: transform 0.3s ease; /* Smooth transition for the fill */
  transform: translateY(100%); /* Start off-screen */
}

.button:hover::before {
  transform: translateY(0); /* Slide up to fill the button */
}

.burger {
  width: 100%;
}

.burger::after,
.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.menu-container {
  position: absolute; /* Use absolute positioning */
  transition: top 0.3s ease; /* Smooth transition for top */
}
